

body {
	background: linear-gradient(to bottom right, #60a5fa, #3b82f6);
	min-height: 100vh;
	font-family: "IBM Plex Serif";
	padding: 1rem;
}

.wrapper {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 1.5rem;
	padding: 2em;
	min-width: 400px;
	display: grid;
	gap: 40px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	align-content: center;
	justify-content: center;
}

.time {
	text-transform: capitalize;
}

.location-Header {
	text-transform: uppercase;
}

.city {
	text-transform: capitalize;
}

.detail {
	font-weight: bold;
	font-size: 1.25rem;
}

.forecast {
	  border-top: 1px solid rgba(255, 255, 255, 0.2);
	  padding-top:4rem;
}

.forecast-day {
		text-transform: capitalize;
}

.dayName {
	text-transform: capitalize;
}

.headForecast {
	text-transform: uppercase;
	display: none;
}



.forecast-days {
	padding-top: 1.25rem;
	display: flex;
	gap: 25px;
}

.city {
	font-size: 2.5rem;
	font-weight: bold;
}

.temperature {
	font-size: 3.5rem;
	font-weight: bold;
}

.condition {
	font-size: 1.25rem;
}

.weather-details {
	margin-bottom: 2rem;

}
