* {
  margin: 0;
  padding: 0;

}

body {
	font-family: "IBM Plex Serif", system-ui;
	padding: 1rem;
	background: linear-gradient(to bottom right, #00bbf9, #00f5d4);
	min-height: 100vh;	
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
